*{
    margin: 0;
    padding: 0;
}

#fundo{
    background-image: url("imagens/fundo.jpg");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100%;
}

.separador{
    margin-top: 15px;
    padding-bottom: 20px;
}

.container{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 188, 17);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    margin-top: 0px;
    margin-bottom: 15px;
}

input{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

button{
    border-radius: 0.3 solid rgb(166, 165, 165);
    padding: 5px;
}

.format{
    display: flex;
    align-items: center;
    margin: 5px;
}

.img_prod{
    padding: 5px;
    width: 30px;
}

#resultado2{
    display: flex;
}

#divChurras{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 188, 17);
}

#divAlcoolicas{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(255, 188, 17);
}